.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    width: 286px;
    background-color: #ffffff;
    border-top: 6px solid #457fca;
  }

  .modal-content--wide {
    width: 800px;
  }

  .modal-header {
    padding: 20px;
  }
 
  .modal-title {
    margin: 0;
  }
  
  .modal-body {
    padding: 0 20px 20px;
  }

  .modal-close {
    float: right;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
  }

  select {
    border: 1px solid #000000;
    width: 112px;
    height: 31px;
    font-family: 'Roboto Mono', monospace;
    margin-right: 20px;
  }

  .form-button {
    cursor: pointer;
    border: 1px solid #000000;
    width: 112px;
    height: 31px;
    background:  #41904B;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
  }

  .form-button:active {
    background:  #53B15F;
  }

  .form-button.try-again {
    background:  #BF5176;
  }

  .form-button.try-again:active {
    background:  #D85B85;
  }