@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

.cookie-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left:0;
  width: calc(100% - 4px);
  height: 10%;
  z-index: 9;
  background-color: #264684;
  border: 2px solid black;
}

.cookie-banner-cookies{
  font-size: 48px;
}

.cookie-banner-btn {
  font-family: 'IBM Plex Mono', monospace;
  border: 2px solid black;
  background: url('../assets/rainbow\ bkg.png') no-repeat ;
  background-size: cover;
  padding: 10px 15px;
  margin-left: 20px;
}